{{#each this.drinks}}
    <li class="card-list">
        <div class="img-container">
            <img src="{{strDrinkThumb}}" alt="фото" class="card-img">
        </div>
        <div class="text-container">
            <p class="text-title">{{strDrink}}</p>
            <p class="text-description">{{strDrink}}</p>
            <p class="text-read">Read More <span class="text-mnem">&#62;</span></p>
        </div>        
    </li>
{{/each}}